.appBar{
    position : relative !important
}

.boxReponses{
    background-color: #f2f2f2 !important;
    border-color : #000000
}

.messageBouton{
    float : right
}

.messageField{
    width : 100%
}