@font-face {
  font-family: "Amaranth";
  src: url('./font/Amaranth Regular 400.ttf');
}

body {
  font-family: 'Amaranth';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  display: block !important;
  margin: auto !important;
}

.linkNone {
  text-decoration: none;
  color : black;
}

#sujet table {
  border-collapse: collapse;
}

#sujet td {
  border: 1px solid black;
  padding: 3px 10px;
  text-align: center;
}