@font-face{
  font-family: "Amaranth";
  src: url('./font/Amaranth Regular 400.ttf');
}

body {
  margin: 0;
  font-family: 'Amaranth';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  display: block !important;
  margin: auto !important;
}
