.buttonItem {
    height: 40px;
}

.ButtonEnregistrer{
    background-color : #c0dff8 !important;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr 2fr 0.75fr 0.75fr;
    grid-template-rows: 1fr;
    gap: 0px 15px;
    margin: 0px 1% 3%;
}

.affichageFormule{
    display: flex;
    justify-content: space-around;
}

.nomFormule{
    width : 160px;
}

.formule{
    width : 220px;
    margin-left : 2% !important;
}

.typoFormule{
    overflow-wrap: break-word;
}

@media screen and (max-width: 960px) {
    
    .container:first-child {
        margin: 0px 1% 3%;
    }
}