#divLogin{
    display : flex; 
    flex-direction : column; 
    height : 120px; 
    margin : 50px auto;
}

.fieldLogin{
    display : flex;
    margin-top : 30px;
}

#buttonConnexion{
    margin : 50px auto;
}

.iconLogin{
    margin-right : 25px;
    margin-top : 6px;
}