#divNavBar{
    padding : 5px 10px;
    z-index: 99;
}

#burger{
    position : fixed;
    left : 20px;
    top : 20px;
    z-index: 10;
}

.divider{
    margin : 3% 0 !important;
}

#deconnexionNav{
    background-color : rgb(197, 17, 80, 0.9);
    border-radius : 3px;
    color : "white";
}