.contenant{
    margin : 10%;
    text-align:center;
    
}

.liste_questions{
    margin-bottom : 30px;
}

.reponse{
    margin : 5px 0px;
    display : flex;
    align-items : center;
    column-gap: 10px;
}

.enonce{
    margin : 20px 0px;
    font-size : 18px;
}

.liste_reponse{
    display : flex;
    flex-direction: column;
    flex-wrap : wrap;
    row-gap : 30px;
    align-items: center;
}

.alignement_horizontal{
    display : flex;
    flex-direction: row;
    justify-content: center;
    column-gap:20px;
    align-items: center;
    flex-wrap:wrap;
}

.choix_input{
    margin-bottom : 10px;
}

.ButtonAjouterReponse{
    margin : 20px 0px !important;
}

.puissance{
    width: 40px;
}

sup{
    font-size:10px;
 }

 .button_gap{
     display: flex;
     justify-content:center;
     column-gap: 10px;
 }


 