.enteteItemAccordeon{
    display : flex;
    width : 80%;
    justify-content : space-between;
}

.divItemAccordeon {
    display: block;
    margin: 2% auto;
    width: 70%;
    border: 2px solid gray ;
    border-radius: 3px;
    padding: 2% 3%;
}

.fieldNomCategorie, .textNomCategorie{
    width : 30%;
}

.textNomCategorie{
    margin-top : 8px;
}