.container {
    display: grid;
    grid-template-columns: 150px 30px 150px 150px 150px;
    grid-gap: 20px;
    width: 50%;
    margin: 30px 10px;
    min-width: 500px;
}

.todoList {
    display: block;
    margin: 20px auto;
    width: 70%;
    border: 2px solid gray ;
    border-radius: 3px;
    padding: 2% 3%;
    min-width: 1000px;
}

.buttonItem {
    height: 40px;
}

.center {
    display: block !important;
    margin: auto !important;
}