.container{
    display: grid;
    grid-template-columns: 150px 30px 150px 150px 150px;
    grid-gap: 20px;
    width: 50%;
    margin: 30px 10px;
    height: 20px;
}

#todoList{
    display: block;
    margin: 20px auto;
    width: 80%;
    border: 2px solid black ;
    padding: 2%;
}

#ajoutFormule{
    display: block;
    margin: auto;
}

.buttonItem{
    width: 80%;
}